[defaults]
inventory = inventory/inventory.ini
private_key_file = ~/.ssh/id_ed25519
vault_password_file = ./.vault_pass
interpreter_python = /usr/bin/python3

[ssh_connection]
ssh_args = -o StrictHostKeyChecking=accept-new -o ControlMaster=auto -o ControlPersist=60s
