#jinja2: trim_blocks: False
services:
  {% for service in services %}
  {{ service.name }}:
    image: {{ service.image }}
    container_name: {{ service.container_name }}
    {%- if service.depends_on | default([]) %}
    depends_on:
      {%- for dependency in service.depends_on %}
      - {{ dependency }}
      {%- endfor %}
    {%- endif %}
    {%- if service.command is defined %}
    command: {{ service.command }}
    {%- endif %}
    {%- if service.ports | default([]) %}
    ports:
      {%- for port in service.ports %}
      - "{{ port }}"
      {%- endfor %}
    {%- endif %}
    {%- if service.devices | default([]) %}
    devices:
      {%- for device in service.devices %}
      - "{{ device }}"
      {%- endfor %}
    {%- endif %}
    {%- if service.cap_add | default([]) %}
    cap_add:
      {%- for cap_add in service.cap_add %}
      - "{{ cap_add }}"
      {%- endfor %}
    {%- endif %}
    {%- if service.volumes | default([]) %}
    volumes:
      {%- for volume in service.volumes %}
      - {{ volume }}
      {%- endfor %}
    {%- endif %}
    {%- if service.environment | default([]) %}
    environment:
      {%- for env in service.environment %}
      - {{ env }}
      {%- endfor %}
    {%- endif %}
    networks:
      {%- for network in service.networks %}
      - {{ network }}
      {%- endfor %}
    {%- if service.restart %}
    restart: {{ service.restart }}
    {%- endif %}
  {% endfor %}

networks:
  qnet:
