#jinja2: trim_blocks: False
services:
  web:
    image: 'jc21/nginx-proxy-manager:latest'
    container_name: proxy
    depends_on:
      - homepage
    ports:
      # These ports are in format <host-port>:<container-port>
      - '80:80' # Public HTTP Port
      - '443:443' # Public HTTPS Port
      - '81:81' # Admin Web Port
      # Add any other Stream port you want to expose
      # - '21:21' # FTP
    volumes:
      - ./npmdata:/data
      - ./letsencrypt:/etc/letsencrypt
    networks:
      - proxy-network
    restart: unless-stopped
  {% for service in services %}
  {{ service.name }}:
    image: {{ service.image }}
    container_name: {{ service.container_name }}
    {%- if service.depends_on | default([]) %}
    depends_on:
      {%- for dependency in service.depends_on %}
      - {{ dependency }}
      {%- endfor %}
    {%- endif %}
    ports:
      {%- for port in service.ports %}
      - "{{ port }}"
      {%- endfor %}
    {%- if service.volumes | default([]) %}
    volumes:
      {%- for volume in service.volumes %}
      - {{ volume }}
      {%- endfor %}
    {%- endif %}
    {%- if service.environment | default([]) %}
    environment:
      {%- for env in service.environment %}
      - {{ env }}
      {%- endfor %}
    {%- endif %}
    networks:
      {%- for network in service.networks %}
      - {{ network }}
      {%- endfor %}
    {%- if service.restart %}
    restart: {{ service.restart }}
    {%- endif %}
  {% endfor %}

networks:
  proxy-network:
