---
- name: Configure actualtap service
  set_fact:
    actualtap_service:
      name: actualtap-py
      image: ghcr.io/bobokun/actualtap-py:latest
      container_name: actualtap-py
      ports:
        - 8000:8000
      volumes:
        - ./actualtap/config:/config
      networks:
        - qnet
      restart: unless-stopped

- name: Setup Actualtap directory 
  ansible.builtin.file:
    path: "{{ docker_compose_dir }}/actualtap"
    owner: "{{ username }}"
    group: "{{ username }}"
    state: directory

- name: Copy the config file
  ansible.builtin.copy:
    src: actualtap_config/config.yml
    dest: "{{ docker_compose_dir }}/actualtap/config/config.yml"
