---
- name: Configure actual service
  set_fact:
    actual_service:
      name: actualbudget
      image: docker.io/actualbudget/actual-server:latest
      container_name: actualbudget
      ports:
        - '5006:5006'
      volumes:
        - ./actualbudget:/data
      networks:
        - qnet
      restart: unless-stopped
