---
- name: Login to GHCR
  community.docker.docker_login:
    registry_url: ghcr.io
    username: "{{ ghcr_username }}"
    password: "{{ ghcr_token }}"
  when:
    - ghcr_username is defined
    - ghcr_token is defined
