---
- import_tasks: ghcr_login.yml
- import_tasks: actual.yml
- import_tasks: audiobookshelf.yml
- import_tasks: bazarr.yml
- import_tasks: docling.yml
- import_tasks: homepage.yml
- import_tasks: jellyfin.yml
- import_tasks: jellyseerr.yml
- import_tasks: mealie.yml
- import_tasks: mymcp.yml
- import_tasks: openwebui.yml
- import_tasks: pihole.yml
- import_tasks: prowlarr.yml
- import_tasks: qbittorrent.yml
- import_tasks: radarr.yml
- import_tasks: sonarr.yml
- import_tasks: trilium.yml
- import_tasks: vikunja.yml
- import_tasks: zerobyte.yml
# - import_tasks: actualtap.yml
- import_tasks: setup.yml
- import_tasks: run.yml
