---
- name: Configure mealie service
  set_fact:
    mealie_service:
      name: mealie
      image: ghcr.io/mealie-recipes/mealie:latest
      container_name: mealie
      restart: unless-stopped
      ports:
          - "9925:9000"
      volumes:
        - ./mealie-data:/app/data/
      environment:
        # Set Backend ENV Variables Here
        - PUID=1000
        - PGID=1000
        - TZ=Europe/Rome
        - OPENAI_BASE_URL=http://bestione:8000/v1
        - OPENAI_MODEL=Qwen/Qwen3-4B-Instruct-2507
        - OPENAI_API_KEY=xxx
        - ALLOW_SIGNUP=false
        - BASE_URL=https://mealie.fantaquoggio.bid
      networks:
        - qnet

- name: Setup Mealie directory
  ansible.builtin.file:
    path: "{{ docker_compose_dir }}/mealie-data"
    owner: "{{ username }}"
    group: "{{ username }}"
    state: directory
