---
# - name: Docker compose pull
#   ansible.builtin.shell:
#     cmd: "docker compose pull"
#     chdir: "{{ docker_compose_dir }}"
- name: Docker compose up
  ansible.builtin.shell:
    # cmd: "docker compose up -d"
    cmd: "docker compose up -d --build"
    chdir: "{{ docker_compose_dir }}"
